#about{
  background: $bg-secondary;
}

.content-about{
  padding: 10px 0 50px 0;
}

#text-about{
  color: $text-font-primary;
  width: 80%;
  margin: 0 auto;
  opacity: 0;
}

.topics{
  margin: $gutter-inner-section;
  display: flex;
  flex-direction: column;
  .topics-about{
    .title-topic{
      color: $text-title-secondary;
      margin-bottom: 10px;
    }
    margin: $gutter-inner-section;
    p{
      width: 50%;
      color: $text-font-primary;
    }
    li{
      color: $text-font-primary;
      list-style-type: square;
      margin: 10px 0 10px 25px;
    }
    &:nth-child(2){
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      p{
        text-align: right;
      }
    }
  }
}