#clients{
  background: $bg-secondary;
}

.content-clients{
  padding: $gutter-section;
}

.list-clients{
  padding: $gutter-inner-section;
  display: grid;
  justify-content: center;
  .card-clients{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3em;
    .client-item{
      background-color: #ffffff;
      width: 200px;
      height: 200px;
      border-radius: 10px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: 0.2);
      transition: 0.5s;
      &:hover{
        box-shadow: 5px 5px 15px rgba($color: #7f8fa6, $alpha: 1);
      }
      a{
        text-align: center;
      }
      img{
        width: 80%;
      }
    }
  }
}