#contact{
  background: $bg-light;
}

.content-contact{
  padding: $gutter-section;
  h4{
    font-family: 'Poppins', sans-serif;
    color: $text-font-primary;
  }
  .items-contact{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;
    .type-contact{
      display: grid;
      gap: 1em;
      .items-contact-data{
        display: flex;
        align-items: center;
        gap: .5em;
        img{
          width: 10%;
        }
      }
      .social-networks{
        grid-template-columns: repeat(2, 1fr);
        gap: 0 2em;
      }
    }
    .btn-contato{
      a{
        background: #25d366;
        padding: 15px 25px;
        border-radius: 25px;
        text-decoration: none;
        color: #ffffff;
        img{
          margin-bottom: -7px;
        }
      }
    }
  }

  @media only screen and (max-width: 959px){
    .items-contact{
      grid-template-columns: repeat(2, 1fr);
      gap: 2em 1em
    }
  }

  @media only screen and (max-width: 719px){
    .items-contact{
      grid-template-columns: 1fr;
      gap: 2em;
    }
  }
}

