#contact{
  background: $bg-light;
}

.content-contact{
  padding: $gutter-section;

  justify-content: center;
  .btn-contato{
    justify-self: center;
    margin: 30px 0;
    a{
      margin: 0 auto;
      padding: 15px 25px;
      background: #25d366;
      color: #ffffff;
      text-decoration: none;
      border-radius: 30px;
      font-size: 1.25em;
    }
  }
}

.items-contact{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;

  .type-contact{
    display: grid;
    gap: 1em;
    .items-contact-data{
      display: flex;
      align-items: center;
      gap: .5em;
      img{
        width: 10%;
      }
    }
    .social-networks{
      grid-template-columns: repeat(2, 1fr);
      gap: 0 2em;
    }
  }


}