#contact{
  background: $bg-light;
}

.content-contact{
  padding: $gutter-section;
  display: grid;
  justify-content: center;
  .btn-contato{
    justify-self: center;
    margin: 30px 0;
    a{
      margin: 0 auto;
      padding: 15px 25px;
      background: #25d366;
      color: #ffffff;
      text-decoration: none;
      border-radius: 30px;
      font-size: 1.25em;
    }
  }
}