footer{
  background-color: $bg-dark;
  padding: $gutter-inner-section;

  .content-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    p{
      text-align: right;
      color: $text-font-light;
    }
    img{
      width: 100px;
    }
  }
}