#header{
  background-color: $bg-dark;
}

.logo{
  width: 150px;
}

.content-header{
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu{
  ul{
    display: flex;
    gap: 2em;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
    padding: 1em 0;
    color: $text-font-light;
    position: relative;
    transition: .4s;
    &:hover{
      color: #f5f6fa;
    }
    &:after{
      content: "";
      display: block;
      height: 2px;
      width: 0;
      background: #f5f6fa;
      margin-top: 5px;
      transition: 0.4s;
    }
    &:hover:after{
      width: 90%;
      position: absolute;
    }
  }
}