#services{
  background: $bg-light;
}

.content-services{
  padding: $gutter-section;
  .presentation{
    margin-bottom: 4em;
    .subtitle-section{
      text-align: center;
    }
  }
}

.list-services{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  .item-service{
    border: 1px solid #7f8fa6;
    border-radius: 5px;
    box-shadow: 3px 2px 2px #7f8fa6;
    padding: 1em;
    margin: 1em;
    transition: .4s;
    .img-service{
      margin: 1em 0 2em 0;
      img{
        color: $text-title-primary;
        width: 30%;
      }
    }
    h5{
      color: #CB5353;
      font-weight: 500;
      padding: 1em 0;
    }
    p{
      padding-bottom: 1em;
    }
    &:hover{
      border: 1px solid #CB5353;
      box-shadow: 3px 2px 5px #CB5353;
    }
  }
  @media only screen and (max-width: 959px){
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 539px){
    grid-template-columns: 1fr;
  }
}