//Variáveis
$text-font-primary: #2d3436;
$text-font-light: #b2bec3;
$text-title-primary: #f5f6fa;
$text-title-secondary: #c0392b;
$bg-dark: #1e272e;
$bg-light: #dfe6e9;
$bg-secondary: #ECF0F1;

$gutter-section: 50px 0;
$gutter-inner-section: 20px 0;


//breaking points
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

@mixin title-section {
  font-size: 3em;
  font-weight: 500;
  text-align: center;
  margin: 20px;
}

//imports
@import 'reset';
@import 'header';
@import 'intro';
@import 'about';
@import 'services';
@import 'clients';
@import 'contact';
@import 'footer';

body{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

h1{
  font-size: 4em;
  font-weight: bold;
}

h2{
  font-size: 3em;
  @media only screen and (max-width: 959px){

  }
}

h3{
  @include title-section();
}

h4{
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
}

.title-section{
  color: #636e72;
}

p{
  font-size: 1em;
  color: $text-font-primary;
  line-height: 1.5em;
}


.container{
  max-width: map-get($container-max-widths, "xl");
  margin: 0 auto;
  @media only screen and (max-width: 1139px){
    max-width: map-get($container-max-widths, "lg");
  }
  @media only screen and (max-width: 959px){
    max-width: map-get($container-max-widths, "md");
    h2{
      font-size: 2em;
    }
  }
  @media only screen and (max-width: 719px){
    max-width: map-get($container-max-widths, "sm");
    h2{
      font-size: 2em;
    }
  }

  @media only screen and (max-width: 539px){
    max-width: 90%;
  }
}